body {
  background: url("../img/bg-patern.png") #ebddc1;
}

.container {
  width: 960px;
}

header {
  background: url("../img/bg-header.png") no-repeat top center;
  width: 100%;
  height: 153px;
}

.col-xs-6 {
  padding: 0px;
}

.forms {
  position: relative;
}

.logo-link a {
  width: 237px;
  height: 93px;
  margin-top: 11px;
  display: block;
}

input {
  width: 189px;
  height: 27px;
  margin-bottom: 10px;
  background: #fff;
  border: 0px;
  color: #000;
  font-family: sans-serif;
  margin-top: 45px;
  margin-left: 283px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

button {
  background: rgba(194, 170, 124, 0.8);
  border: 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px 4px 4px 0px;
  height: 29px;
  width: 32px;
  position: absolute;
  margin-top: 44px;
  margin-left: -32px;
}
button:hover .icon-find {
  background-position: 0 -16px;
}
button .icon-find {
  background: url("../img/sprite/sp-icon-find.png") no-repeat top center;
  width: 16px;
  height: 16px;
  display: block;
}

.menu-wrapp {
  margin-left: 0px;
  padding: 0px;
}

li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
  left: 0px;
  margin-top: 7px;
}
li:last-child {
  margin-right: 0px;
}
li a {
  font-size: 24px;
  font-family: "Cabin Sketch", cursive;
  color: #000;
}
li a:hover {
  text-decoration: none;
  color: #fff;
}

.social-wrapp {
  padding: 0px;
  margin-left: 80px;
}

.net-social {
  margin-right: 6px;
}
.net-social:last-child {
  margin-right: 0;
}
.net-social .mail,
.net-social .rss,
.net-social .fb,
.net-social .tw {
  background: url("../img/sprite/sp-social-networks.png") no-repeat;
  width: 28px;
  height: 27px;
  display: block;
}
.net-social .mail:hover {
  background-position: 0 -27px;
}
.net-social .rss {
  background-position: -27px 0;
}
.net-social .rss:hover {
  background-position: -27px -27px;
}
.net-social .fb {
  background-position: -55px 0;
}
.net-social .fb:hover {
  background-position: -55px -27px;
}
.net-social .tw {
  background-position: -81px 0;
}
.net-social .tw:hover {
  background-position: -81px -27px;
}

.slider-home {
  background: url("../img/bg-slider.png") no-repeat top center;
  width: 100%;
  height: 373px;
}

.bx-slider-wrapper {
  position: relative;
  margin-top: 65px;
}
.bx-slider-wrapper .bx-wrapper {
  width: 859px;
}
.bx-slider-wrapper li {
  max-height: 229px;
  overflow: hidden;
  position: relative;
}
.bx-slider-wrapper img {
  width: 859px;
  height: 229px;
}
.bx-slider-wrapper .bx-next,
.bx-slider-wrapper .bx-prev {
  background: url("../img/sprite/sp-slider.png");
  width: 21px;
  height: 27px;
  display: block;
}
.bx-slider-wrapper .bx-next {
  background-position: -21px 0px;
}
.bx-slider-wrapper .bx-next:hover {
  background-position: -21px -27px;
}
.bx-slider-wrapper .bx-prev {
  background-position: 0px 0px;
}
.bx-slider-wrapper .bx-prev:hover {
  background-position: -0px -27px;
}
.bx-slider-wrapper #slider-prev,
.bx-slider-wrapper #slider-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.bx-slider-wrapper #slider-prev {
  left: 5px;
}
.bx-slider-wrapper #slider-next {
  right: 3px;
}

.border-up {
  background: url("../img/border-up.png") no-repeat top center;
  height: 14px;
  display: block;
}

.border-down {
  background: url("../img/border-down.png") no-repeat top center;
  height: 14px;
  display: block;
  margin-top: 40px;
}

.bg-post {
  background: url("../img/bg-post.png");
  height: 270px;
  display: block;
}
.bg-post h1 {
  font-size: 30px;
  font-family: "Cabin Sketch", cursive;
  margin-left: 20px;
  background: #eadeca;
}
.bg-post h2 {
  font-size: 15px;
  font-family: "Cabin Sketch", cursive;
  margin-left: 20px;
  margin-top: 0px;
}
.bg-post p {
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #000;
  margin: 5px 10px 0px 20px;
}
.bg-post p b {
  text-transform: uppercase;
}

.button-post {
  background: url("../img/bg-button-post.png") no-repeat top right;
  height: 32px;
  margin-top: 18px;
}
.button-post:hover {
  background: url("../img/bg-button-post-hover.png") no-repeat top right;
}
.button-post a:hover {
  text-decoration: none;
}
.button-post p {
  font-size: 18px;
  font-family: "Cabin Sketch", cursive;
  text-align: right;
  padding: 4px 0px;
}
.button-post li {
  font-size: 12px;
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

.bg-post-wrapp {
  background: url("../img/bg-twitter-post.jpg");
  height: 89px;
  margin-top: 24px;
}
.bg-post-wrapp .post-text {
  padding: 14px 0px 14px 20px;
}
.bg-post-wrapp .post-text .logo-twitter {
  background: url("../img/logo-twitter.png") no-repeat;
  height: 60px;
}
.bg-post-wrapp .post-text p {
  font-size: 18px;
  font-family: "Cabin Sketch", cursive;
  color: #fff;
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: url("../img/page-slider.png");
  text-indent: -9999px;
  display: block;
  width: 16px;
  height: 16px;
  margin: 40px 5px;
  outline: 0;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: url("../img/page-hover-slider.png");
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
