header{
  background: url("../img/bg-header.png")no-repeat top center;
  width: 100%;
  height: 153px;
}
.col-xs-6{
  padding: 0px;
}
.forms{
  position: relative;
}
.logo-link{
  a{
    width: 237px;
    height: 93px;
    margin-top: 11px;
    display: block;
  }
}
input{
  width: 189px;
  height: 27px;
  margin-bottom: 10px;
  background: $white;
  border: 0px;
  color: $black;
  font-family: sans-serif;
  margin-top: 45px;
  margin-left: 283px;
  @include border-radius (4px);
}
button {
  background: rgba(194, 170, 124, 0.8);
  border: 0px;
  @include border-radius (0px 4px 4px 0px);
  height: 29px;
  width: 32px;
  position: absolute;
  margin-top: 44px;
  margin-left: -32px;
  &:hover .icon-find{
    background-position: 0 -16px;
  }
  .icon-find{
    background: url("../img/sprite/sp-icon-find.png")no-repeat top center;
    width: 16px;
    height: 16px;
    display: block;
  }
}
.menu-wrapp{
   margin-left: 0px;
   padding: 0px;
 }
li{
  float: left;
  list-style-type: none;
  margin-right: 30px;
  left: 0px;
  margin-top: 7px;
  &:last-child{
    margin-right: 0px;
  }
  a{
    font-size: 24px;
    font-family: $cabin;
    color: $black;
    &:hover{
      text-decoration: none;
      color: $white;
    }
  }
}
.social-wrapp{
  padding: 0px;
  margin-left: 80px;
}
.net-social{
  margin-right: 6px;
  &:last-child{
    margin-right: 0;
  }
  .mail,
  .rss,
  .fb,
  .tw{
    background: url("../img/sprite/sp-social-networks.png")no-repeat;
    width: 28px;
    height: 27px;
    display: block;
  }
  .mail{
    &:hover{
      background-position: 0 -27px;
    }
  }
  .rss{
    background-position: -27px 0;
    &:hover{
      background-position: -27px -27px;
    }
  }
  .fb{
    background-position: -55px 0;
    &:hover{
      background-position: -55px -27px;
    }
  }
  .tw{
    background-position: -81px 0;
    &:hover{
      background-position: -81px -27px;
    }
  }
}
.slider-home{
  background: url("../img/bg-slider.png")no-repeat top center;
  width: 100%;
  height: 373px;
}
.bx-slider-wrapper{
  position: relative;
  margin-top: 65px;
  .bx-wrapper {
    width: 859px;
  }
  li {
    max-height: 229px;
    overflow: hidden;
    position: relative;
  }
  img {
    width: 859px;
    height: 229px;
  }
  .bx-next,
  .bx-prev {
    background: url("../img/sprite/sp-slider.png");
    width: 21px;
    height: 27px;
    display: block;
  }
  .bx-next {
    background-position: -21px 0px;
    &:hover{
      background-position: -21px -27px;
    }
  }
  .bx-prev {
    background-position: 0px 0px;
    &:hover{
      background-position: -0px -27px;
    }
  }
  #slider-prev,
  #slider-next {
    position: absolute;
    top: 50%;
    margin-top: -10px;
  }
  #slider-prev {
    left: 5px;
  }
  #slider-next {
    right: 3px;
  }
}
